<div class="container">
  <div class="pt-5 pb-5">
    <div *ngIf="!submitted">
      <div class="card border-0 cs-shadow rounded feedback">
        <div class="card-body">
          <div class="header">
            <h3 style="color: #0080ff">Website Feedback form</h3>
            <p>
              please fill out this brief feedback form so we can ensure a tap
              qualify experience for all of our visitors.
            </p>
          </div>
          <div class="floor pt-3 pb-3">
            <h5 class="pb-2">
              <span>*</span> In General, Which Floor do you want to feedback ?
            </h5>
            <div class="row">
              <div class="col-md-4 pb-3" *ngFor="let item of floors">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="floor_id"
                    id="{{ item._id }}"
                    value="{{ item._id }}"
                    (change)="getFloorId(item._id)"
                    [(ngModel)]="message.floor_id"
                  />
                  <label class="form-check-label" for="{{ item._id }}">
                    {{ item.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="department pt-3 pb-3" *ngIf="floorId">
            <h5 class="pb-2">
              <span>*</span>
              In General, Which Department do you want to feedback ?
            </h5>
            <div class="row" *ngFor="let item of department">
              <div class="col-md-4 pb-3" *ngIf="item.floor_id == floorId">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="department_id"
                    id="{{ item.name }}"
                    value="{{ item._id }}"
                    (change)="getDepartmentId(item._id)"
                    [(ngModel)]="message.department_id"
                  />
                  <label class="form-check-label" for="{{ item.name }}">
                    {{ item.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="room pt-3 pb-3" *ngIf="departmentId">
            <h5 class="pb-2">
              <span>*</span>
              In General, Which Room do you want to feedback ?
            </h5>
            <div class="row" *ngFor="let item of room">
              <div
                class="col-md-4 pb-3"
                *ngIf="item.department_id == departmentId"
              >
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="room_id"
                    id="{{ item.name }}"
                    value="{{ item._id }}"
                    [(ngModel)]="message.room_id"
                  />
                  <label class="form-check-label" for="{{ item.name }}">
                    {{ item.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="title pt-3 pb-3">
            <h5 class="pb-2">
              <span>*</span>
              Title
            </h5>
            <div class="pb-3">
              <input
                type="text"
                class="form-control form-control-lg shadow-sm"
                placeholder="Title"
                name="title"
                [(ngModel)]="message.title"
              />
            </div>
          </div>
          <div class="feedback pt-3 pb-3">
            <h5 class="pb-2">
              <span>*</span>
              Feedback Message
            </h5>
            <div class="pb-3">
              <textarea
                name="msg"
                id=""
                rows="5"
                class="form-control form-control-lg"
                placeholder="Message"
                [(ngModel)]="message.msg"
              ></textarea>
            </div>
            <p class="text-muted">
              Please feel free to send us your feedback or request about our
              services so far, Make sure to include hopes, fears, expectation
            </p>
          </div>
          <div class="situation pt-3 pb-3">
            <h5 class="pb-2">
              <span>*</span>
              Situation
            </h5>
            <div class="row">
              <div class="col-md-4 pb-3">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="High"
                    value="High"
                    [(ngModel)]="message.status"
                  />
                  <label class="form-check-label" for="High"> High </label>
                </div>
              </div>
              <div class="col-md-4 pb-3">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="Normal"
                    value="Medium"
                    [(ngModel)]="message.status"
                  />
                  <label class="form-check-label" for="Normal">Normal </label>
                </div>
              </div>
              <div class="col-md-4 pb-3">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id=" Low }"
                    value="Low"
                    [(ngModel)]="message.status"
                  />
                  <label class="form-check-label" for="Low"> Low</label>
                </div>
              </div>
            </div>
          </div>
          <div class="submit text-right pt-3">
            <button
              class="btn btn-lg btn-primary col-12"
              (click)="sendMessage()"
            >
              Send
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <div *ngIf="submitted">
        <h4 class="mb-4">FeedBack Send Successfully!</h4>
        <button class="btn btn-lg btn-dark col-md-4" (click)="newMsg()">
          Again
        </button>
      </div>
    </div>
  </div>
</div>
